extends ../layout

block content

	include ../partials/header

	.cont
		ul.list#main_menu
			li
				a(href="/ideas").activeLink Ideas
			li
				a(href="/collections") Collections

		ul.list.filters
			li
				label Industry
				input(type="text").input_grey_style
			li
				label Outcome
				input(type="text").input_grey_style
			li
				label Element
				input(type="text").input_grey_style
			li
				label Publisher
				input(type="text").input_grey_style
		#ideas
			.cont
				each idea in ideas
					.idea_box
						.delete
						img(src=`/static/uploads/${idea.img_src}`)
						h2 #{idea.title}
						.actions
							a(href=`/ideas/view/${idea.slug}`).view View
							a(href=`/ideas/view/${idea.slug}?mode=edit`).edit Edit
							span.delete(data-slug=`${idea.slug}`) Delete

	script(src="/static/js/popup.js")
	script(src="/static/js/yeahautocomplete.js")
	script(src="/static/js/ideas/ideas_all.js")